*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[class*="col-"]{
    background-color: dodgerblue;
    height: 40px;
    border: solid 1px #fff;
}
.green{
    background-color: green;
    height: 20px;
}
.row-pad{
    height: 100%;
    padding: 5px;
    align-items: center;
}

/* JUSTIFY CONTENT */
.row-pad.space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row-pad.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* ALIGNMENT */
.row.center{
    justify-content: center;
}
.row.end{
    justify-content: flex-end;
}
.col-6.blue,
.col-6.white{
    height: 80px;
}
.col-6.blue{
    background-color: dodgerblue; 
}

.col-6.white{
    display: flex;
    background-color: #fff;
}
.col-6.white.middle{
    align-items: center;
}
.col-6.white.bottom{
    align-items:flex-end;
}

