*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[class*="col-"]{
    background-color: dodgerblue;
    height: 40px;
    border: solid 1px #fff;
}
.green{
    background-color: green;
    height: 20px;
}
.row-pad{
    height: 100%;
    padding: 5px;
    align-items: center;
}

.row-pad.space-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row-pad.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}